# Gitignore file
*.pyc
*.log
*.egg-info
data.db
*.python-version
*.DS_Store
slices

# Data files
*.csv
*.log
examples/*/logstandin*
examples/*/loghercules*
examples/*/logfloris*
*.pkl
*.h5

# Exceptions
!examples/*/inputs/*.csv
examples/lookup-based_wake_steering_florisstandin/inputs/amr_standin_data.csv

# macOS files
.DS_Store

# ide settings and files
.idea
.vscode

# Outputs
*echo

# Documentation build
docs/_build/

